<div class="card mb-2 p-1">
    <div class="row">
        <div class="col-1">
            <img src="{{ post.author.avatar(48) }}" alt="image">
        </div>
        <div class="col">
            <div>
                <a href="{{ url_for('user', username=post.author.username ) }}" class="fomt-weight-bold text-decoration-none">
                @{{ post.author.username }}
                </a>
            </div>
            <div class="">{{ post.body }}</div>
        </div>
    </div>
</div>