{% extends "base.html" %}

{% block content %}
<div class="row h-100 pt-2">
    <div class="col-4">
        <div class="card">
            <div class="card-body text-center">
                <p><img class="img-fluid" src="{{ user.avatar(128) }}" alt="Profile img"></p>
                <div class="card-title">
                    <span class="h2">{{ user.username }}</span>
                    {% if user == current_user %}
                        <a href="{{ url_for('main.edit_profile') }}"><i class="fas fa-edit"></i></a>
                    {% elif not current_user.is_following(user) %}
                        <a class="badge badge-secondary" href="{{ url_for('main.follow', username=user.username)}}">Follow me</a>
                    {% else %}
                        <a class="badge badge-primary" href="{{ url_for('main.unfollow', username=user.username)}}">Following</a>
                    {% endif %}
                </div>
                <div>
                    <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following</p>
                </div>
                {% if user.about_me %}
                <p class="card-text">
                    {{ user.about_me }}
                </p>
                {% endif %}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Email: {{ user.email }}</li>
                {% if user.last_seen %}
                <li class="list-group-item">Last seen on: {{ moment(user.last_seen).format('LLL') }}</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col">
        {% for post in posts %}
            {% include "_post.html" %}
        {% endfor %}
        <nav>
            <ul class="pagination justify-content-center">
                {% if prev_url %}
                    <li class="page-item"><a class="page-link" href="{{ prev_url }} ">Prev</a></li>
                {% endif %}
                {% if next_url %}
                    <li class="page-item"><a class="page-link" href="{{ next_url }} ">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock content %}